<ion-view view-title="首页">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" spinner="android"></ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-left" collection-repeat="item in items" href="#/tab/welcome/products/{{item.product_id}}">
        <img src="{{item.product_img}}">
        <h2>{{item.product_name}}</h2>
        <p>{{item.created_at}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false" ng-if=moreDataCanBeLoaded></ion-infinite-scroll>
  </ion-content>
</ion-view>
